USE [MilAventuresDB]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[id_activity] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[init_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[difficulty] [int] NOT NULL,
	[max_participants] [int] NOT NULL,
	[start_end_point] [nvarchar](max) NULL,
	[id_category] [int] NOT NULL,
	[id_guide] [int] NOT NULL,
	[price_per_person] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Activity] PRIMARY KEY CLUSTERED 
(
	[id_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id_booking] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[participants] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[id_client] [int] NOT NULL,
	[id_book_status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Booking] PRIMARY KEY CLUSTERED 
(
	[id_booking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingLine]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingLine](
	[id_line] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[price_at_moment] [decimal](18, 2) NOT NULL,
	[bookingId] [int] NOT NULL,
	[activityId] [int] NULL,
	[equipmentId] [int] NULL,
 CONSTRAINT [PK_dbo.BookingLine] PRIMARY KEY CLUSTERED 
(
	[id_line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStatus]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatus](
	[id_book_status] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BookingStatus] PRIMARY KEY CLUSTERED 
(
	[id_book_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](30) NULL,
	[photo] [nvarchar](max) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Client] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[id_equipment] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price_per_day] [decimal](18, 2) NOT NULL,
	[units] [int] NOT NULL,
	[min_stock] [int] NOT NULL,
	[id_category] [int] NOT NULL,
	[id_status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Equipment] PRIMARY KEY CLUSTERED 
(
	[id_equipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentStatus]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EquipmentStatus] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guide]    Script Date: 20/5/2026 6:02:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guide](
	[id_guide] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](30) NULL,
	[photo] [nvarchar](max) NULL,
	[specialty] [nvarchar](150) NULL,
	[credentials] [nvarchar](max) NULL,
	[experience_level] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Guide] PRIMARY KEY CLUSTERED 
(
	[id_guide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activity] ADD  DEFAULT ((0)) FOR [price_per_person]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activity_dbo.Category_id_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id_category])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_dbo.Activity_dbo.Category_id_category]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activity_dbo.Guide_id_guide] FOREIGN KEY([id_guide])
REFERENCES [dbo].[Guide] ([id_guide])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_dbo.Activity_dbo.Guide_id_guide]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Booking_dbo.BookingStatus_id_book_status] FOREIGN KEY([id_book_status])
REFERENCES [dbo].[BookingStatus] ([id_book_status])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_dbo.Booking_dbo.BookingStatus_id_book_status]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Booking_dbo.Client_id_client] FOREIGN KEY([id_client])
REFERENCES [dbo].[Client] ([id_client])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_dbo.Booking_dbo.Client_id_client]
GO
ALTER TABLE [dbo].[BookingLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingLine_dbo.Activity_activityId] FOREIGN KEY([activityId])
REFERENCES [dbo].[Activity] ([id_activity])
GO
ALTER TABLE [dbo].[BookingLine] CHECK CONSTRAINT [FK_dbo.BookingLine_dbo.Activity_activityId]
GO
ALTER TABLE [dbo].[BookingLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingLine_dbo.Booking_bookingId] FOREIGN KEY([bookingId])
REFERENCES [dbo].[Booking] ([id_booking])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingLine] CHECK CONSTRAINT [FK_dbo.BookingLine_dbo.Booking_bookingId]
GO
ALTER TABLE [dbo].[BookingLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingLine_dbo.Equipment_equipmentId] FOREIGN KEY([equipmentId])
REFERENCES [dbo].[Equipment] ([id_equipment])
GO
ALTER TABLE [dbo].[BookingLine] CHECK CONSTRAINT [FK_dbo.BookingLine_dbo.Equipment_equipmentId]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Equipment_dbo.Category_id_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id_category])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_dbo.Equipment_dbo.Category_id_category]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Equipment_dbo.EquipmentStatus_id_status] FOREIGN KEY([id_status])
REFERENCES [dbo].[EquipmentStatus] ([id_status])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_dbo.Equipment_dbo.EquipmentStatus_id_status]
GO
