USE [MilAventuresDB]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[id_activity] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[init_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[difficulty] [int] NOT NULL,
	[max_participants] [int] NOT NULL,
	[start_end_point] [nvarchar](max) NULL,
	[id_category] [int] NOT NULL,
	[id_guide] [int] NOT NULL,
	[price_per_person] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Activity] PRIMARY KEY CLUSTERED 
(
	[id_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id_booking] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[participants] [int] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[id_client] [int] NOT NULL,
	[id_book_status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Booking] PRIMARY KEY CLUSTERED 
(
	[id_booking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingLine]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingLine](
	[id_line] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[price_at_moment] [decimal](18, 2) NOT NULL,
	[bookingId] [int] NOT NULL,
	[activityId] [int] NULL,
	[equipmentId] [int] NULL,
 CONSTRAINT [PK_dbo.BookingLine] PRIMARY KEY CLUSTERED 
(
	[id_line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStatus]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatus](
	[id_book_status] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BookingStatus] PRIMARY KEY CLUSTERED 
(
	[id_book_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](30) NULL,
	[photo] [nvarchar](max) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Client] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[id_equipment] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price_per_day] [decimal](18, 2) NOT NULL,
	[units] [int] NOT NULL,
	[min_stock] [int] NOT NULL,
	[id_category] [int] NOT NULL,
	[id_status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Equipment] PRIMARY KEY CLUSTERED 
(
	[id_equipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentStatus]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EquipmentStatus] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guide]    Script Date: 20/5/2026 6:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guide](
	[id_guide] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[surname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](30) NULL,
	[photo] [nvarchar](max) NULL,
	[specialty] [nvarchar](150) NULL,
	[credentials] [nvarchar](max) NULL,
	[experience_level] [nvarchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Guide] PRIMARY KEY CLUSTERED 
(
	[id_guide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([id_activity], [title], [description], [init_date], [end_date], [difficulty], [max_participants], [start_end_point], [id_category], [id_guide], [price_per_person]) VALUES (1, N'Pujada al montcabrer', N'Excursió per a pujar al cim Montcabrer. Es una ruta dura que requereix cert nivell d''experiència. Recomandad per les vistes', CAST(N'2026-04-04T00:00:00.000' AS DateTime), CAST(N'2026-04-05T00:00:00.000' AS DateTime), 3, 10, N'Club de tenis Muro', 1004, 2, CAST(15.00 AS Decimal(18, 2)))
INSERT [dbo].[Activity] ([id_activity], [title], [description], [init_date], [end_date], [difficulty], [max_participants], [start_end_point], [id_category], [id_guide], [price_per_person]) VALUES (2, N'Descens del Turia', NULL, CAST(N'2026-04-13T00:00:00.000' AS DateTime), CAST(N'2026-04-14T00:00:00.000' AS DateTime), 3, 10, N'Desembocadura del Turia', 1, 1, CAST(3.00 AS Decimal(18, 2)))
INSERT [dbo].[Activity] ([id_activity], [title], [description], [init_date], [end_date], [difficulty], [max_participants], [start_end_point], [id_category], [id_guide], [price_per_person]) VALUES (3, N'Passeig per la Via Verda', N'Tranquil passeig per a gaudir de la tranquil·litat i els paissatges locals d''Alcoi.', CAST(N'2026-04-27T00:00:00.000' AS DateTime), CAST(N'2026-04-30T00:00:00.000' AS DateTime), 1, 15, N'Mercat d''Alcoi', 1004, 2, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([id_booking], [created_at], [total_price], [participants], [notes], [id_client], [id_book_status]) VALUES (1, CAST(N'2026-05-19T22:00:16.547' AS DateTime), CAST(12.00 AS Decimal(18, 2)), 1, NULL, 1, 1)
INSERT [dbo].[Booking] ([id_booking], [created_at], [total_price], [participants], [notes], [id_client], [id_book_status]) VALUES (2, CAST(N'2026-05-20T04:48:02.560' AS DateTime), CAST(41.00 AS Decimal(18, 2)), 1, NULL, 1, 2)
INSERT [dbo].[Booking] ([id_booking], [created_at], [total_price], [participants], [notes], [id_client], [id_book_status]) VALUES (3, CAST(N'2026-05-20T04:57:25.163' AS DateTime), CAST(51.00 AS Decimal(18, 2)), 3, N'Te migranyes freqüents', 2, 3)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingLine] ON 

INSERT [dbo].[BookingLine] ([id_line], [quantity], [price_at_moment], [bookingId], [activityId], [equipmentId]) VALUES (1, 1, CAST(0.00 AS Decimal(18, 2)), 1, 1, NULL)
INSERT [dbo].[BookingLine] ([id_line], [quantity], [price_at_moment], [bookingId], [activityId], [equipmentId]) VALUES (2, 1, CAST(12.00 AS Decimal(18, 2)), 1, NULL, 1)
INSERT [dbo].[BookingLine] ([id_line], [quantity], [price_at_moment], [bookingId], [activityId], [equipmentId]) VALUES (1006, 1, CAST(5.00 AS Decimal(18, 2)), 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[BookingLine] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingStatus] ON 

INSERT [dbo].[BookingStatus] ([id_book_status], [code], [description]) VALUES (1, N'PENDING', N'Reserva pendent de confirmar')
INSERT [dbo].[BookingStatus] ([id_book_status], [code], [description]) VALUES (2, N'ACCEPTED', N'Reserva confirmada')
INSERT [dbo].[BookingStatus] ([id_book_status], [code], [description]) VALUES (3, N'RUNNING', N'Reserva en curs')
SET IDENTITY_INSERT [dbo].[BookingStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id_category], [code], [description]) VALUES (1, N'ACUÀTIC', N'Activitats realitzades sobre l''aigua o que tenen relació amb ella')
INSERT [dbo].[Category] ([id_category], [code], [description]) VALUES (3, N'NEU', N'Activitats realitzades sobre la neu o que tenen relació amb ella')
INSERT [dbo].[Category] ([id_category], [code], [description]) VALUES (1004, N'MUNTANYA', N'Activitats realitzades a la muntanya')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([id_client], [name], [surname], [email], [phone], [photo], [status]) VALUES (1, N'Carolina', N'Agulló Martínez', NULL, NULL, N'ef9d7824-0a7a-46c6-91ec-08d70e85fc53.png', 1)
INSERT [dbo].[Client] ([id_client], [name], [surname], [email], [phone], [photo], [status]) VALUES (2, N'Joaquin', N'Sorolla', NULL, NULL, N'8b2f2936-1122-431b-88ba-bb6f50c8bd0d.jpg', 1)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([id_equipment], [title], [description], [price_per_day], [units], [min_stock], [id_category], [id_status]) VALUES (1, N'Botes de muntanya', NULL, CAST(12.00 AS Decimal(18, 2)), 9, 10, 1005, 1)
INSERT [dbo].[Equipment] ([id_equipment], [title], [description], [price_per_day], [units], [min_stock], [id_category], [id_status]) VALUES (2, N'Equis', NULL, CAST(80.00 AS Decimal(18, 2)), 12, 5, 3, 1)
INSERT [dbo].[Equipment] ([id_equipment], [title], [description], [price_per_day], [units], [min_stock], [id_category], [id_status]) VALUES (3, N'Kayak', N'Kayak per a dues persones', CAST(75.00 AS Decimal(18, 2)), 5, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentStatus] ON 

INSERT [dbo].[EquipmentStatus] ([id_status], [code], [description]) VALUES (1, N'AVAILABLE', N'Equipament disponible')
INSERT [dbo].[EquipmentStatus] ([id_status], [code], [description]) VALUES (2, N'MAINTENANCE', N'En manteniment')
INSERT [dbo].[EquipmentStatus] ([id_status], [code], [description]) VALUES (3, N'OUTDATED', N'Fora de servei')
SET IDENTITY_INSERT [dbo].[EquipmentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Guide] ON 

INSERT [dbo].[Guide] ([id_guide], [name], [surname], [email], [phone], [photo], [specialty], [credentials], [experience_level], [status]) VALUES (1, N'Pep', N'Botifarra', N'pep@boti.com', N'123456789', N'aa91d265-33c3-417b-9f21-db528b17058d.png', NULL, N'Carnet de muntanya nivell EXP3', N'70', 1)
INSERT [dbo].[Guide] ([id_guide], [name], [surname], [email], [phone], [photo], [specialty], [credentials], [experience_level], [status]) VALUES (2, N'Carlos', N'Agulló', N'cavdemuro@gmail.com', NULL, N'33377097-e40f-43fd-ac6e-17db539eea21.png', N'Senderisme, bicicleta i muntanya', N'Excursionista federat', N'Expert', 1)
SET IDENTITY_INSERT [dbo].[Guide] OFF
GO
ALTER TABLE [dbo].[Activity] ADD  DEFAULT ((0)) FOR [price_per_person]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activity_dbo.Category_id_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id_category])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_dbo.Activity_dbo.Category_id_category]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activity_dbo.Guide_id_guide] FOREIGN KEY([id_guide])
REFERENCES [dbo].[Guide] ([id_guide])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_dbo.Activity_dbo.Guide_id_guide]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Booking_dbo.BookingStatus_id_book_status] FOREIGN KEY([id_book_status])
REFERENCES [dbo].[BookingStatus] ([id_book_status])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_dbo.Booking_dbo.BookingStatus_id_book_status]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Booking_dbo.Client_id_client] FOREIGN KEY([id_client])
REFERENCES [dbo].[Client] ([id_client])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_dbo.Booking_dbo.Client_id_client]
GO
ALTER TABLE [dbo].[BookingLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingLine_dbo.Activity_activityId] FOREIGN KEY([activityId])
REFERENCES [dbo].[Activity] ([id_activity])
GO
ALTER TABLE [dbo].[BookingLine] CHECK CONSTRAINT [FK_dbo.BookingLine_dbo.Activity_activityId]
GO
ALTER TABLE [dbo].[BookingLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingLine_dbo.Booking_bookingId] FOREIGN KEY([bookingId])
REFERENCES [dbo].[Booking] ([id_booking])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingLine] CHECK CONSTRAINT [FK_dbo.BookingLine_dbo.Booking_bookingId]
GO
ALTER TABLE [dbo].[BookingLine]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingLine_dbo.Equipment_equipmentId] FOREIGN KEY([equipmentId])
REFERENCES [dbo].[Equipment] ([id_equipment])
GO
ALTER TABLE [dbo].[BookingLine] CHECK CONSTRAINT [FK_dbo.BookingLine_dbo.Equipment_equipmentId]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Equipment_dbo.Category_id_category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id_category])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_dbo.Equipment_dbo.Category_id_category]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Equipment_dbo.EquipmentStatus_id_status] FOREIGN KEY([id_status])
REFERENCES [dbo].[EquipmentStatus] ([id_status])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_dbo.Equipment_dbo.EquipmentStatus_id_status]
GO
